#textdomain wesnoth-Imperial_Era

[multiplayer_side]
    id=Marauders
    name={MENU_IMG_TXT "units/human-marauders/pillager.png~TC(1,magenta)" _"Marauders"}
    type=Marauder Pillager
    leader=Marauder Jarl,Marauder Pillager,Marauder Hunter,Marauder Raider,Marauder Seeress,Marauder Shieldmaiden
    recruit=Marauder Warrior,Marauder Scout,Marauder Axeman,Marauder Crusher,Marauder Boatsman,Marauder Fay
    terrain_liked=hHmw
    [ai]
        recruitment_pattern=fighter,fighter,fighter,mixed fighter,mixed fighter,scout
    [/ai]
[/multiplayer_side]
