#textdomain wesnoth-Imperial_Era

[multiplayer_side]
    id=Issaelfr
    name={MENU_IMG_TXT "units/elves-frost/bladesman.png~TC(1,magenta)" (_"Issaelfr")}
    type=Frost Elf Ice Bladesman
    leader=Frost Elf Archer,Frost Elf Bladesman,Frost Elf Mistral Magus,Frost Elf Yak Rider,Seal
    recruit=
[/multiplayer_side]
